body {
	background: #ddd;
	font-family: sans-serif;
	font-size: 14px;
	margin:0; padding: 0;
}

input, button, .button, .raised {
	font-family: sans-serif;
	font-size: 14px;
	border: 0;
	box-shadow: 4px 4px #555;
	position: relative;
	padding: 8px 16px;
	text-decoration: none;
}

button, input, .button {
	color: #fff;
	background: #0CA5F2;
	display: inline-block;
    outline: 0 !important;
}

button:focus, .button:focus,
input:focus {
	box-shadow: 6px 6px #555;
	top: -2px;
	left: -2px;
}
button:active, .button:active {
	box-shadow: 2px 2px #555;
	top: 2px;
	left: 2px;
}

.main, .wide {
	width: 100%;
	width: fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
}

main {
	margin:auto;
	margin-top: 48px;
	max-width: 700px;
    padding: 16px;
	text-align: center;
}

button.main, .button.main {
	background: #F2A10C;
}

.score {
	position: fixed;
	top: 16px;
	right: 16px;
	background: #00CC00;
	color: #fff;
	padding: 0;
}
.score span {
	display: inline-block;
	padding: 8px 16px;
}
.score span:last-child {
	background: #007F00;
}

.topleft {
    position: fixed;
	top: 16px;
	left: 16px;
	background: #00CC00;
	color: #fff;
}
h2 {
    font-size: 24px;
}
.topleft:focus {
    top: 14px;
    left: 14px;
}
.topleft:active {
    top:18px;
    left: 18px;
}
